@"
numpy
pandas
scipy
matplotlib
seaborn
mne
mne-features
scikit-learn
xgboost
joblib
tensorflow
shap
ipykernel
tqdm
imbalanced-learn
optuna
keras-tuner
pyriemann
pymc
arviz
dvc
plotly
statsmodels
bokeh
scikit-image
opencv-python
Pillow
pyvista
pyvistaqt
ipywidgets
mne-qt-browser
pyqt6
PyQt5
"@ | Out-File -FilePath requirements.txt -Encoding utf8